@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins:wght@200&family=Roboto:ital,wght@1,900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(44, 42, 42);
  color: white;
  height: 20%;
  overflow: hidden;
}

nav {
  display: flex;
  padding: 0 20px;
  background-color: black;
  height: 50px;
  justify-content: space-between;
  width: 100%;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: rgb(138, 138, 34);
  padding: 1% 0% 3% 0%;
}

#why {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #f55800;
  padding: 90px 20px 24px;
}

#popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 590px;
  left: 0;
  top: 92px;
}

#beautiful {
  margin: auto 0;
  display: block;
  cursor: pointer;
}

#beautiful div {
  width: 35px;
  height: 3px;
  background-color: whitesmoke;
  margin: 6px;
  transition: 0.4s;
}

#good {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: url(./img.png);
  background-repeat: no-repeat;
  background-position: 95% 60%;
}

#how {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff;
}

#nice {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  line-height: 24px;
  color: #f4f5f7;
}

#container {
  padding-right: 100px;
}

li {
  display: inline-block;
  padding-right: 20px;
}
