@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  transition: 1s;
}

body {
  font-family: "Roboto", sans-serif;
  height: 20%;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  background-color: #3e3c3c;
  height: 50px;
  justify-content: space-between;
}

.wel {
  padding-left: 20px;
  padding-top: 20px;
}

.wel a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #e4e7ed;
  font-style: normal;
}

.wb {
  display: none;
}

#menu {
  display: block;
  position: absolute;
  top: 22px;
  right: 38px;
}

#beautiful {
  display: block;
  position: absolute;
  top: 22px;
  right: 38px;
}

.bar {
  width: 20px;
  height: 2px;
  background-color: whitesmoke;
  margin: 4px;
  transition: 0.4s;
}

#beautiful.active .bar:nth-child(2) {
  opacity: 0;
}

#beautiful.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#beautiful.active .bar:nth-child(3) {
  transform: translateY(-4px) rotate(-45deg);
}

.wel.active {
  display: none;
}

#hidden {
  position: absolute;
  left: -100%;
  top: 0.001px;
  gap: 0;
  flex-direction: column;
  background-color: #3e3c3c;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  transition: 0.3s;
  height: 755px;
  border-top-right-radius: 60px;
}

#hidden hr {
  margin: 24px;
}

.link1 {
  margin-top: 108px;
}

.nav-link {
  /* margin-top: 40px; */
  color: rgba(255, 245, 225, 1);
  font-family: "inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 74px;
  margin-left: 40px;

  /* margin-right: 150px; */
}

.nav-link :hover {
  color: #f46106;
}

#hidden.active {
  left: 0;
}

#hidden :hover {
  color: #eb8c51;
}

.main-menu {
  display: none;
}

.good {
  display: flex;
  align-items: flex-start;
  background-color: #1c1a19;
  flex-direction: column;
  background-image: url(./images/img.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 100% 100%;
  padding: 0 24px;
  height: 950px;
}

.non-good {
  display: none;
}

.why {
  font-family: "Crete Round", serif;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #f55800;
  padding: 90px 32px 24px;
}

.non-why {
  display: none;
}

#popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  left: 0;
  top: 92px;
}

#how {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff;
  margin-right: 180px;
}

#nice {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  color: #f4f5f7;
  width: 80%;
  margin-right: 50px;
}

#container {
  margin-top: 24px;
  margin-left: 24px;
}

li {
  display: inline-block;
  flex-direction: row;
  padding-right: 15px;
}

#main {
  background-color: white;
  display: grid;
  grid-column: auto;
  justify-content: center;
  transition: 2s;
  margin-bottom: 5rem;
}

.head {
  display: flex;
  align-items: center;
  font-family: "Crete Round", serif;
  font-size: 40px;
  color: #1c1a19;
  line-height: 52px;
  text-align: center;
  padding-top: 150px;
  padding-left: 45px;
  font-weight: 400;
}

.line {
  background-color: rgba(33, 33, 33, 1);
  height: 0;
  padding-left: 30px;
  margin-top: 24px;
  align-items: center;
}

#project1 {
  display: grid;
  column-gap: 24px;
  width: 327px;
}

#project1 img {
  display: flex;
  padding-top: 100px;
  padding-left: 25px;
}

#projectheader {
  display: flex;
  flex-direction: column;
  font-family: "Crete Round", serif;
  font-size: 30px;
  font-weight: 400;
}

.prohead {
  font-weight: inherit;
}

.para {
  font-family: "Inter", sans-serif;
  padding-top: 12px;
  padding-left: 30px;
  font-size: 16px;
  width: 90%;
}

#social {
  display: flex;
  flex-direction: row;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  padding-top: 12px;
  margin-left: 2rem;
}

.modal-social li {
  box-sizing: border-box;
  align-items: center;
  padding: 10px 10px;
  border: 1px solid #8993a4;
  margin: 2px 5px;
}

#social li {
  box-sizing: border-box;
  padding: 10px 12px;
  border: 1px solid #8993a4;
  margin: 0 5px;
}

.modal-social a {
  color: #091e42;
  text-decoration: none;
}

#social a {
  color: #091e42;
  text-decoration: none;
}

#click {
  display: flex;
  flex-direction: row;
  padding-top: 24px;
}

.form > button {
  background-color: #ff6b00;
  align-items: center;
  padding: 12px 12px;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  border: none;
}

.form button:hover {
  transition: 0.3s;
}

#click button {
  background-color: #ff6b00;
  border-color: #ff6b00;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  display: flex;
  text-align: center;
  padding: 10px 10px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal,
.modal2,
.modal3,
.modal4,
.modal5,
.modal6 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #fff;
  width: 65%;
  max-height: 90%;
  border: 1px solid #dfe1e6;
  animation: 1s drop;
  display: none;
}

@keyframes drop {
  0% {
    top: -100px;
  }

  100% {
    top: 50%;
  }
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 44px;
  color: #172b4d;
  margin: 24px;
}

.modal-headd {
  display: none;
}

.close-button,
.close-button2,
.close-button3,
.close-button4,
.close-button5,
.close-button6 {
  cursor: pointer;
  outline: none;
  margin-right: 24px;
  background-color: #fff;
  border: none;
  font-size: 30px;
  transition: 200ms ease-in-out;
  margin-bottom: 44px;
  animation: 1s dropout;
}

@keyframes ease-in-out {
  0% {
    top: -100px;
  }

  100% {
    top: 50%;
  }
}

.modal-social {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  flex-direction: row;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 13px;
  padding-left: 24px;
  font-weight: 600;
  margin-top: -19px;
}

.modal-pic {
  display: flex;
  flex-direction: column;
  background-image: url(./images/SnapshootPortfolio.png);
  background-repeat: no-repeat;
  background-size: 90% 100%;
  margin-top: 10px;
  margin-left: 24px;
}

.modal-body {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  max-width: 310px;
  line-height: 22px;
  height: 5px;
  color: #344563;
  margin-top: 150px;
}

.modal-mobile {
  margin-top: 30px;
}

.modal-desktop {
  display: none;
}

.modal-button {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-top: 5px;
  max-width: 350px;
  height: 580px;
  margin-left: 24px;
  align-items: center;
}

.live-button {
  background-color: #ff6b00;
  border-color: #ff6b00;
  background-repeat: no-repeat;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 13px;
  display: flex;
  text-align: center;
  padding: 10px 13px;
  gap: 20px;
}

.source-button {
  background-color: #ff6b00;
  background-repeat: no-repeat;
  border-color: #ff6b00;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 13px;
  display: flex;
  text-align: center;
  padding: 10px 13px;
  gap: 15px;
}

.live-button:hover {
  background-color: #322c21;
  color: #fb6f2e;
  border-color: #eee9e8;
}

.source-button:hover {
  background-color: #2d2922;
  color: #fb6f2e;
  border-color: #eee9e8;
}

#onepro button {
  width: 327px;
  height: 48px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  background-color: #ff6b00;
  border-color: #ff6b00;
}

#twopro button {
  width: 327px;
  height: 48px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  background-color: #ff6b00;
  border-color: #ff6b00;
}

#threepro button {
  width: 327px;
  height: 48px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  background-color: #ff6b00;
  border-color: #ff6b00;
}

#fourpro button {
  width: 327px;
  height: 48px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  background-color: #ff6b00;
  border-color: #ff6b00;
}

#fivepro button {
  width: 327px;
  height: 48px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  background-color: #ff6b00;
  border-color: #ff6b00;
}

#sixpro button {
  width: 327px;
  height: 48px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  background-color: #ff6b00;
  border-color: #ff6b00;
}

#click button:hover {
  background-color: #fff5e1;
  color: #fb6f2e;
  border-color: #eee9e8;
}

#onepro button:hover {
  background-color: #fff5e1;
  color: #f87b33;
  border-color: #dbd8d7;
}

#twopro button:hover {
  background-color: #fff5e1;
  color: #f87b33;
  border-color: #dbd8d7;
}

#threepro button:hover {
  background-color: #fff5e1;
  color: #f87b33;
  border-color: #dbd8d7;
}

#fourpro button:hover {
  background-color: #fff5e1;
  color: #f87b33;
  border-color: #dbd8d7;
}

#fivepro button:hover {
  background-color: #fff5e1;
  color: #f87b33;
  border-color: #dbd8d7;
}

#sixpro button:hover {
  background-color: #fff5e1;
  color: #f87b33;
  border-color: #dbd8d7;
}

#one {
  background-image: url(./images/new1.png);
  position: relative;
  bottom: 9px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
}

#onem {
  padding-top: 84px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 25px;
  color: #fff;
  font-weight: inherit;
}

.om {
  font-family: "Crete Round", serif;
  font-weight: 400;
}

#onep {
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 12px 16px;
  width: 80%;
  color: #fff;
}

#ones {
  display: grid;
  flex-direction: row;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 20px;
  padding-left: 12px;
  color: #fff;
}

#ones li {
  box-sizing: border-box;
  padding: 8px 10px;
  border: 1px solid #8993a4;
  margin: 0 5px;
  background: rgba(255, 255, 255, 0.24);
}

#onepro {
  width: 327px;
  height: 48px;
  left: 0;
  right: 0;
  background-color: #ff6b00;
  background-image: url(./images/Placeholder.png);
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  margin-top: 360px;
}

#two {
  background-image: url(./images/Placeholder.png);
  margin-top: 24px;
  position: relative;
  bottom: 15px;
  margin-left: 24px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

#twom {
  padding-top: 84px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 25px;
  color: #fff;
  font-family: "Crete Round", serif;
}

.tm {
  font-weight: inherit;
}

#twop {
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 12px 16px;
  width: 80%;
  color: #fff;
}

#twos {
  display: grid;
  flex-direction: row;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 17px;
  padding-bottom: 20px;
  padding-left: 12px;
  color: #fff;
}

#twos li {
  box-sizing: border-box;
  padding: 8px 10px;
  border: 1px solid #8993a4;
  margin: 0 5px;
  background: rgba(255, 255, 255, 0.24);
}

#twopro {
  width: 327px;
  height: 48px;
  left: 0;
  right: 0;
  background-color: #ff6b00;
}

#three {
  background-image: url(./images/Placeholder.png);
  margin-top: 24px;
  position: relative;
  bottom: 30px;
  margin-left: 24px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

#threem {
  padding-top: 84px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 32px;
  color: #fff;
  font-family: "Crete Round", serif;
}

.thm {
  font-weight: inherit;
}

#threep {
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 12px 16px;
  width: 80%;
  color: #fff;
}

#threes {
  display: grid;
  flex-direction: row;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 17px;
  padding-bottom: 20px;
  padding-left: 12px;
  color: #fff;
}

#threes li {
  box-sizing: border-box;
  padding: 8px 10px;
  border: 1px solid #8993a4;
  margin: 0 5px;
  background: rgba(255, 255, 255, 0.24);
}

#threepro {
  width: 327px;
  height: 48px;
  left: 0;
  right: 0;
  background-color: #ff6b00;
}

#four {
  background-image: url(./images/Placeholder.png);
  margin-top: 24px;
  position: relative;
  bottom: 55px;
  margin-left: 24px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

#fourm {
  padding-top: 84px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 32px;
  color: #fff;
  font-family: "Crete Round", serif;
}

.fm {
  font-weight: inherit;
}

#fourp {
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 12px 16px;
  width: 80%;
  color: #fff;
}

#fours {
  display: grid;
  flex-direction: row;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 17px;
  padding-bottom: 20px;
  padding-left: 12px;
  color: #fff;
}

#fours li {
  box-sizing: border-box;
  padding: 8px 10px;
  border: 1px solid #8993a4;
  margin: 0 5px;
  background: rgba(255, 255, 255, 0.24);
}

#fourpro {
  width: 327px;
  height: 48px;
  left: 0;
  right: 0;
  background-color: #ff6b00;
}

#five {
  background-image: url(./images/Placeholder.png);
  margin-top: 24px;
  position: relative;
  bottom: 80px;
  margin-left: 24px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

#fivem {
  padding-top: 84px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 32px;
  color: #fff;
  font-family: "Crete Round", serif;
}

.fim {
  font-weight: inherit;
}

#fivep {
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 12px 16px;
  width: 80%;
  color: #fff;
}

#fives {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 17px;
  padding-bottom: 20px;
  padding-left: 12px;
  color: #fff;
}

#fives li {
  box-sizing: border-box;
  padding: 8px 10px;
  border: 1px solid #8993a4;
  margin: 0 5px;
  background: rgba(255, 255, 255, 0.24);
}

#fivepro {
  width: 327px;
  height: 48px;
  left: 0;
  right: 0;
  background-color: #ff6b00;
}

#six {
  background-image: url(./images/Placeholder.png);
  margin-top: 24px;
  position: relative;
  bottom: 90px;
  margin-left: 24px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

#sixm {
  padding-top: 84px;
  padding-left: 16px;
  padding-right: 16px;
  color: #fff;
}

.sim {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 32px;
}

#sixp {
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 12px 16px;
  width: 80%;
  color: #fff;
}

#sixs {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 17px;
  padding-bottom: 20px;
  padding-left: 12px;
  color: #fff;
}

#sixs li {
  box-sizing: border-box;
  padding: 8px 10px;
  border: 1px solid #8993a4;
  margin: 0 5px;
  background: rgba(255, 255, 255, 0.24);
}

#sixpro {
  width: 327px;
  height: 48px;
  left: 0;
  right: 0;
}

#about {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  background-image: url(./images/Frame.png);
  background-repeat: no-repeat;
  background-position: 100% 20%;
}

#ahead {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 72px;
  color: #ff6b00;
  padding-top: 120px;
  padding-left: 24px;
  padding-right: 24px;
}

#apara p {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  padding: 24px 24px;
}

#aclick {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 180px;
  height: 48px;
  padding: 24px 24px 190px;
}

.ak {
  background-color: #ff6b00;
  padding: 12px 24px;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  color: #fff;
  border-color: #ff6b00;
  font-weight: bold;
}

#aline {
  height: 0;
  margin-top: 24px;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
  color: white;
  border: 1px solid #fff;
}

#mainbullet {
  padding-bottom: 132px;
}

#bulletone {
  display: inline-flex;
  color: #fff;
  padding-left: 180px;
  padding-top: 136px;
  font-size: 32px;
  text-align: center;
  font-family: "InaiMathi", sans-serif;
  font-weight: 700;
}

#bullettwo {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding-left: 30px;
  padding-top: 20px;
  font-size: 22px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

#bullettwo li {
  margin-top: 10%;
}

#maintwo {
  margin-top: -150px;
}

#bulletthree {
  display: inline-flex;
  color: #fff;
  padding-left: 180px;
  padding-top: 44px;
  font-size: 32px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

#bulletfour {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding-left: 30px;
  padding-top: 20px;
  font-size: 22px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

#bulletfour li {
  margin-top: 10%;
}

#bulletfive {
  display: inline-flex;
  color: #fff;
  padding-left: 220px;
  padding-top: 44px;
  font-size: 32px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

#bulletsix {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding-left: 30px;
  padding-top: 20px;
  font-size: 22px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

#bulletsix li {
  margin-top: 10%;
}

/* contact form start  */

#maincontact {
  background-color: #fff;
  display: grid;
  justify-content: center;
  margin-left: 70px;
}

.contact {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  text-align: center;
  color: #172b4d;
  height: 216px;
  margin-left: 24px;
  margin-right: 24px;
  padding-top: 120px;
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
}

.form-contact {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  align-items: center;
  gap: 24px;
  width: 327px;
  height: 330px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 58px;
  justify-content: center;
}

#form-contact {
  padding-left: 50px;
  gap: 10px;
  justify-content: center;
}

#name {
  width: 327px;
  height: 48px;
  flex: none;
  font-size: 15px;
  order: 0;
  flex-grow: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: #dbd8d7;
  padding-left: 15px;
}

#name::placeholder {
  color: #979493;
}

#email {
  width: 327px;
  margin-top: 24px;
  height: 48px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 15px;
  border-color: #dbd8d7;
  padding-left: 15px;
}

#email::placeholder {
  color: #979493;
}

#txt-area {
  width: 327px;
  margin-top: 24px;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  background: #fbf8f7;
  padding-left: 15px;
}

#txt-area::placeholder {
  color: #3c3a39;
  font-weight: 400;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 24px;
  justify-content: center;
}

.error {
  display: none;
  position: absolute;
  bottom: 12px;
  left: 650px;
  font-size: 14px;
  color: red;
}

.btnx {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  justify-content: center;
  margin-left: 30px;
  background-color: #ff6b00;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.btnx:hover {
  background-color: #fff5e1;
  color: #f87b33;
  border-color: #dbd8d7;
  cursor: pointer;
}

.show-error {
  display: flex;
}

#c-line {
  height: 1px;
  margin-top: 120px;
  color: white;
  background-color: #dfe1e6;
  margin-left: -5rem;
}

#s-icons {
  margin-top: 15px;
  margin-left: 85px;
}

footer {
  justify-content: center;
  margin-left: 80px;
}

#twopro:hover {
  background-color: #eb8c51;
  cursor: pointer;
}

@media (min-width: 768px) {
  body {
    position: relative;
  }

  nav {
    position: fixed;
    height: 72px;
    left: 0;
    top: 0;
    background-color: #3e3c3c;
    width: 100%;
  }

  #menu {
    display: none;
  }

  #beautiful {
    display: none;
  }

  #hidden {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    right: 100px;
    top: calc(50% - 40px / 2);
  }

  #hidden div {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
  }

  #hidden hr {
    display: none;
  }

  #hidden a {
    text-decoration: none;
    color: #fff;
  }

  .main-menu {
    display: block;
    margin-top: 2rem;
  }

  .names {
    margin-right: 5rem;
  }

  .names li {
    margin-right: 3rem;
  }

  .mail-icon {
    position: absolute;
    padding-top: -20px;
  }

  .pb {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
  }

  .ab {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
  }

  .cb {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
  }

  .good {
    background-image: url(./images/Illustration-header@2x.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 100% 70%;
  }

  #how {
    margin-left: 290px;
    width: 400px;
    gap: 0.5rem;
  }

  .why {
    padding-left: 143px;
    padding-top: 192px;
  }

  #popular {
    width: 566px;
    height: 500px;
  }

  #nice {
    margin-left: 205px;
  }

  #container {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-right: 0;
    width: 1px;
    margin-top: 260px;
    margin-left: 16px;
  }

  .hover {
    cursor: pointer;
  }

  .hover:hover {
    transition: 1s;
    transform: scale(1.5);
  }

  .modal-social li {
    font-size: 15px;
    padding: 13px 20px;
  }

  #container li {
    margin-top: 15px;
  }

  #main {
    width: 90%;
    justify-content: center;
  }

  .line {
    display: flex;
    flex-direction: row;
    margin-top: 180px;
  }

  .line img {
    width: 600px;
  }

  #project1 {
    display: grid;
    width: 100%;
  }

  .mainline {
    display: flex;
    flex-direction: row;
    padding-left: 150px;
  }

  .img1 {
    display: flex;
    flex-direction: row;
    height: 448px;
  }

  #projectheader {
    padding-top: 100px;
  }

  .prohead {
    margin-left: 25px;
    width: 100%;
  }

  .para {
    margin-right: 30px;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.03em;
  }

  #social {
    margin-right: 400px;
  }

  #click {
    padding-right: 600px;
    text-align: center;
  }

  #social li:hover {
    background-color: #eb8c51;
    transition: 1s;
  }

  #bullettwo li:hover {
    background-color: #f46106;
    cursor: pointer;
    border-radius: 10rem;
  }

  .modal,
  .modal2,
  .modal3,
  .modal4,
  .modal5,
  .modal6 {
    width: 1200px;
    max-height: 70%;
  }

  .modal-pic {
    display: flex;
    flex-direction: row;
    background-image: url(./images/tttttt.jpg);
    background-size: 55% 100%;
    height: 450px;

    /* width: 20%; */
  }

  .modal-header22 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 44px;
    color: #172b4d;
    margin: 24px;
  }

  .modal-headd {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    color: #172b4d;
    margin: -25px;
  }

  .modal-headm {
    display: none;
  }

  .modal-social {
    margin-top: -10px;
  }

  .modal-desktop {
    display: flex;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    width: 400px;
    font-size: 18px;
    line-height: 30px;
    margin-left: 680px;
    margin-top: -160px;
  }

  .modal-mobile {
    display: none;
  }

  .modal-button {
    margin-left: 710px;
    margin-top: -340px;
  }

  .close-button {
    cursor: pointer;
  }

  .live-button {
    background-color: #f55800;
    padding: 14px 10px 14px 19px;
    font-size: 15px;
    gap: 20px;
  }

  .source-button {
    background-color: #f55800;
    padding: 14px 10px 14px 19px;
    font-size: 15px;
    gap: 20px;
  }

  .live-button:hover {
    background-color: #322c21;
    color: #fb6f2e;
    border-color: #eee9e8;
  }

  .source-button:hover {
    background-color: #2d2922;
    color: #fb6f2e;
    border-color: #eee9e8;
  }

  #click button:hover {
    background-color: #fff5e1;
    color: #fb6f2e;
    border-color: #eee9e8;
  }

  #onepro button:hover,
  #twopro button:hover,
  #threepro button:hover,
  #fourpro button:hover,
  #fivepro button:hover,
  #sixpro button:hover {
    background-color: #fff5e1;
    color: #f87b33;
    border-color: #dbd8d7;
    cursor: pointer;
  }

  #sixpic {
    display: none;
    grid-column-gap: 140px;
    justify-content: center;
    grid-template-columns: repeat(3, 304px);
    width: 100%;
    background-color: #9f5353;
    transition: 0.3s;
    border-radius: 60px;
    margin-top: -40rem;
    margin-left: 5rem;
    padding-top: 7rem;
    z-index: 10;
    box-shadow: 10px 10px 10px 10px #745858;
  }

  #close-btn-new {
    position: absolute;
    right: -787px;
    z-index: 10;
    margin-top: -6rem;
    background-color: #a14d4d;
    border: none;
    font-weight: 800;
    color: white;
    font-family: cursive;
    font-size: 32px;
  }

  #one {
    width: 108%;
    height: 400px;
    margin-top: 20px;
    cursor: pointer;
  }

  #onepro {
    background-image: url(./images/new1.png);
    display: flex;
    z-index: 2;
    flex-direction: column;
    background-repeat: no-repeat;
    margin-top: 360px;
    cursor: pointer;
  }

  #onepro:hover {
    background-image: url(./images/SnapshootPortfolio2.png);
    background-repeat: no-repeat;
    background-size: 95% 100%;
    transition: none;
    transform: scale(1.07);
    cursor: pointer;
  }

  #twopro,
  #threepro,
  #fourpro,
  #fivepro,
  #sixpro {
    display: none;
    cursor: pointer;
    background-color: #eb8c51;
    margin-top: 23rem;
  }

  #two:hover #twopro,
  #three:hover #threepro,
  #four:hover #fourpro,
  #five:hover #fivepro,
  #six:hover #sixpro {
    display: block;
    cursor: pointer;
    font-size: 2px;
    background-color: #eb8c51;
  }

  #twom {
    margin-top: 115px;
    font-family: "Crete Round", serif;
    font-weight: 800;
    font-size: 24px;
    color: #172b4d;
  }

  #twop {
    color: #00040b;
    font-weight: 600;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #8993a4;
    background: rgba(255, 255, 255, 0.24);
  }

  #twos {
    color: #00040b;
  }

  #two:hover #twom,
  #two:hover #twop,
  #two:hover #twos {
    display: none;
  }

  #threem {
    margin-top: 145px;
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-size: 20px;
  }

  #three:hover #threem,
  #three:hover #threep,
  #three:hover #threes {
    display: none;
  }

  #fourm {
    margin-top: 90px;
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-size: 25px;
  }

  #four:hover #fourm,
  #four:hover #fourp,
  #four:hover #fours {
    display: none;
  }

  #fivem {
    margin-top: 90px;
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-size: 32px;
  }

  #five:hover #fivem,
  #five:hover #fivep,
  #five:hover #fives {
    display: none;
  }

  #sixm {
    margin-top: 115px;
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-size: 15px;
  }

  #six:hover #sixm,
  #six:hover #sixp,
  #six:hover #sixs {
    display: none;
  }

  #two {
    width: 326px;
    height: 410px;
    background-image: url(./images/tttttt.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 10;
  }

  #two:hover {
    background-image: url(./images/todolist.png);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    transform: scale(1);
    cursor: pointer;
    border-style: groove;
  }

  #three {
    width: 326px;
    height: 410px;
    background-image: url(./images/new3.png);
    background-repeat: no-repeat;
  }

  #three:hover {
    background-image: url(./images/SnapshootPortfolio2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 2;
    transition: none;
    cursor: pointer;
  }

  #four {
    width: 326px;
    height: 410px;
    margin-top: 60px;
  }

  #four:hover {
    background-image: url(./images/SnapshootPortfolio2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: none;
    cursor: pointer;
  }

  #five {
    width: 326px;
    height: 390px;
    background-image: url(./images/new2.png);
    background-repeat: no-repeat;
    margin-top: 80px;
  }

  #five:hover {
    background-image: url(./images/SnapshootPortfolio2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: none;
    cursor: pointer;
  }

  #six {
    width: 326px;
    height: 390px;
    background-image: url(./images/new3.png);
    background-repeat: no-repeat;
    margin-top: 80px;
  }

  #six:hover {
    background-image: url(./images/SnapshootPortfolio2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: none;
    cursor: pointer;
  }

  #about {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #1c1a19;
    background-image: url(./images/Fbackground.png);
    background-repeat: no-repeat;
    background-position: 100% 35%;
    z-index: 0;
  }

  #ahead {
    margin-left: 142px;
  }

  #apara {
    width: 500px;
    margin-left: 142px;
  }

  #aclick {
    margin-left: 142px;
  }

  #aline {
    background-color: rgb(204, 195, 195);
  }

  #mainbullet {
    display: flex;
    flex-direction: column;
  }

  .bulletoneagain {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 94px;
    width: 100%;
    background-color: #1c1a19;
    justify-content: center;
  }

  #bullettwo {
    margin-left: 90px;
  }

  #maintwo {
    display: flex;
    flex-direction: column;
    margin-top: 93px;
  }

  #bulletfour {
    margin-left: 90px;
  }

  #mainthree {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }

  #bulletfive {
    margin-right: 100px;
  }

  #bulletsix {
    margin-left: 120px;
  }

  #maincontact {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .contact {
    width: 400px;
    text-align: unset;
    margin-left: 100px;
  }

  .form-contact {
    margin-top: 100px;
    margin-left: 100px;
  }

  #name {
    width: 450px;
  }

  #email {
    width: 450px;
  }

  #txt-area {
    width: 450px;
    height: 100px;
  }

  .form {
    margin-left: 20px;
  }

  .error {
    display: none;
    position: absolute;
    bottom: 12px;
    left: 650px;
    font-size: 14px;
    color: red;
  }

  .show-error {
    display: flex;
  }

  .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 24px;
    justify-content: center;
    margin-left: 30px;
  }

  #s-icons {
    display: flex;
    justify-content: center;
  }

  #height {
    height: 590px;
  }

  .l-line {
    visibility: hidden;
  }
}
